venv
.vagrant
.vscode/settings.json

bins/
.DS_Store
taller2/pipes/Ejercicio2/anillo_alu
taller2/pipes/Ejercicio3/cliente
taller2/pipes/Ejercicio3/servidor
vm-taller/

*.ko
*.cmd
*.mod
*.symvers
*.order
*.o
*.mod.c
